[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
gitpython = "*"
twine = "*"
setuptools = "*"
wheel = "*"
requests = "*"

[requires]
python_version = "3.8"
